@import url('https://fonts.googleapis.com/css2?family=Anton&family=Asap&family=Black+Han+Sans&family=Faster+One&family=Inter&family=Lexend+Deca:wght@600&family=Manrope&family=Nosifer&family=Orienta&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,900&family=Russo+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: #663399;
    position: relative;
}

.kartlar{
    position: absolute;
    bottom: 2%;
    right: 2%;
}

.kartlar .kutu{
    background-color: #fff;
    font-size: 18px;
    border-radius: 8px;
    padding: 10px 14px;
    margin: 8px 0;
    color: #fd9767;
    transition: 0.5s ease-in-out;
}

button{
    cursor: pointer;
    background-color: #fff;
    font-size: 16px;
    padding: 12px 15px;
    border: none;
    border-radius: 8px;
    transition: 0.5s ease-in-out;
}

button:hover{
    transform: scale(1.1);
}